body {
    padding-top: 60px;
}

.light_body {
    float: left;
    margin: 1em;
    /*width: 200px;*/
    /*height: 200px;*/
    background-color: #ddd;
    border-radius: 6px;
}

.light_head {
    width: 190px;
    height: 190px;
    position: relative;
    border-radius: 50%;
    float: none;
    margin: 1em;
    border: 1px solid black;
    background-color: white;
}

.light_bulb {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    overflow: hidden;
}

.gobo {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}